<div class="container">
  <div class="row p-5">

    <!-- ITEMS -->
    {{#each links}}
      <div class="col-md-4">
        <div class="p-4">
          <div class="card">
            <img src="<%= products[i].cover %>" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">{{title}}</h3>
              <p class="card-text">{{url}}</p>
              <p class="card-text">{{description}}</p>
            </div>
          </div>
        </div>
      </div>
     {{/each}}
  </div>

  
</div>
